<!DOCTYPE HTML>
<html>
	<head>
		<title>Weather</title>
		<meta charset="utf-8" />
		<link rel="icon" href="./images/cloud.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./css/main.css" />
        <link rel="stylesheet" href="./css/nav.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body id="top">
        {{>header}}
			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>PRATEEK JAIN</h2>
                        </br>
                        <img src="./images/pk.jpg" width=200px height=330px alt="" />
                        </br>
                        </br>
						<ul class="icons">
							<li><a href="https://twitter.com/Pk9997481571" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/Shazadaa.boy/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/1_prateek_jain_1/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="mailto:jain22719@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design By: Prateek Jain. </p>
					</div>
				</footer>

		<!-- Scripts -->
			<script src='./js/app.js'></script>
			<script src="./js/jquery.min.js"></script>
			<script src="./js/jquery.scrolly.min.js"></script>
			<script src="./js/jquery.poptrox.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>

	</body>
</html>